@{
    ViewData["Title"] = "Giriş Rədd Edildi";
}
<br />
<br />
<br />
<br />
<br />
<div class="container mt-5">
    <h2>Giriş Rədd Edildi</h2>
    <p>Bu səhifəyə giriş icazəniz yoxdur.</p>
    <a class="btn btn-primary" href="/">Ana səhifəyə qayıt</a>
</div>
<br />
<br />
<br />
<br />
<br />
