@model LocatraMain.ViewModels.ForgotPasswordVm

<div class="container mt-5">
    <h3>Şifrəni Unutmusan?</h3>
    <form method="post">
        <div class="form-group">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-2">OTP Göndər</button>
    </form>
</div>

