@model LocatraMain.ViewModels.ResetPasswordVm

<div class="container mt-5">
    <h3>Yeni Şifrəni Daxil Et</h3>
    <form method="post">
        <input type="hidden" asp-for="Email" />
        <div class="form-group">
            <label>Yeni Şifrə</label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Təkrar Şifrə</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-warning mt-2">Şifrəni Sıfırla</button>
    </form>
</div>
